.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 778px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 28px;
}

.u-section-1 .u-image-1 {
  min-height: 750px;
  background-image: url("images/SREERAMSURENDRAN1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 750px;
  background-image: linear-gradient(white, #f2f2f2);
}

.u-section-1 .u-container-layout-2 {
  padding: 50px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 400;
  margin: 62px 74px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 20px 280px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 24px 0 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(46, 147, 122) !important;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-1 .u-icon-2 {
  margin-top: 2px;
  color: rgb(46, 147, 122) !important;
}

.u-section-1 .u-text-5 {
  margin: 10px 0 0;
}

.u-section-1 .u-icon-3 {
  margin-top: 2px;
  color: rgb(46, 147, 122) !important;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 38px auto 0 0;
  padding: 14px 73px 15px 71px;
}

.u-section-1 .u-icon-4 {
  color: rgb(194, 98, 175) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-image-1 {
    min-height: 618px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-image-1 {
    min-height: 473px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 20px 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: 137px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 0%;
    min-height: 710px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 28px;
  }

  .u-section-1 .u-image-1 {
    min-height: 447px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-bottom: 34px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 51px;
    padding-left: 49px;
  }
}.u-section-2 {
  min-height: 486px;
}

.u-section-2 .u-text-1 {
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1;
  width: 807px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1041px;
  margin: 62px auto 20px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  min-height: 279px;
  grid-gap: 24px 24px;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 30px 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 30px 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 22px 30px 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 16px));
    min-height: 252px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 78px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    min-height: 428px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 15px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 590px;
    margin-top: 28px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 479px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 7px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 729px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-left: calc(((100% - 540px) / 2) + 100px);
    margin-right: calc(((100% - 540px) / 2) + 100px);
  }

  .u-section-2 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 365px);
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 651px;
  }
}